@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
/* In your global CSS file or a Tailwind config file */
.text-rgba-green {
  color: rgba(136, 223, 30, 0.7);
}
/* Add this in your global CSS file */
@keyframes pulse-on-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-on-hover:hover {
  animation: pulse-on-hover 1.5s ease-in-out infinite;
}
.loader {
  border-width: 2px;
  border-radius: 50%;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

/* Style for the scrollbar track (the part the thumb slides within) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

/* Style for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #4CAF50; /* Default thumb color (green 500) */
  /* border-radius: 10px; */
}

